@using Microsoft.AspNetCore.Components.Sections
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <ErrorBoundary @ref="ErrorBoundary">
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <p class="errorUI">Layout error page damn!</p>
                    <p class="text-danger">@context.Message</p>
                    <button @onclick="RecoverError">Recover</button>
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>

</div>

<div class="footer">
    <SectionOutlet SectionName="footer" />
    <SectionOutlet SectionId="@Footer2SectionId" />
</div>

@code {
    internal static object Footer2SectionId = new();

    private ErrorBoundary ErrorBoundary { get; set; }

    void RecoverError()
    {
        ErrorBoundary?.Recover();
    }
}