<h3>DataBindingComponent</h3>

<p>Value changed</p>
<p>
    <input @bind:event="oninput" @bind:get="@Value" @bind:set="@SetValue" />
</p>

<NestedDataBindingComponent @bind-Value:get="@Value" @bind-Value:set="ValueChanged" />

@code {
    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    private async Task SetValue(string value)
    {
        await ValueChanged.InvokeAsync(value);
    }
}
