@page "/dependency"
@using BlazorLearning.Services;
@inherits OwningComponentBase

<h3>Dependency</h3>

<p>
    Scoped service created time: @ScopedService.CreatedTime;
</p>

@code {
    SampleScopedService ScopedService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ScopedService = ScopedServices.GetRequiredService<SampleScopedService>();

        await Task.CompletedTask;
    }
}
