@inject ExampleJsInterop JsService;

<div class="my-component">
    This component is defined in the <strong>BlazorLearning.WebClient.Library</strong> library.

    <button @onclick="@OnShowPromptEventHandler">
        Show prompt 1
    </button>
    <button @onclick="@OnShowPrompt">
        Show prompt 2
    </button>
</div>

@code {
    Action<MouseEventArgs> OnShowPromptEventHandler => async (_) => await OnShowPrompt();

    async Task OnShowPrompt() => await JsService.Prompt("Hello message");
}